<template>
  <div class="flex">
    <div class="w-2/4">
      <NuxtImg :src="movie.Poster" :placeholder="[50, 25]" class="rounded-xl w-full" />
    </div>

    <div class="w-2/4 flex flex-col items-start pl-6">
      <h2 class="text-2xl font-bold mb-3">{{ movie.Title }}</h2>
      <div><b>Year:</b> {{ movie.Year }}</div>
      <div><b>Type:</b> {{ movie.Type }}</div>

      <el-button @click="$router.back()" type="info" class="mt-auto">
        <el-icon class="el-icon--left"><ElIconArrowLeftBold /></el-icon> Back
      </el-button>
    </div>
  </div>
</template>

<script setup>
const route = useRoute();
const store = useMoviesStore();
const { data: movie, error } = await useAsyncData("movieInfo", () => store.getMovieById(route.params.id));
</script>

<style></style>
