<template>
  <div>
    <div>
      <el-button @click="$router.back()" type="info">
        <el-icon class="el-icon--left"><ElIconArrowLeftBold /></el-icon> Back
      </el-button>
      <h2 class="text-2xl font-bold mb-3">
        Searched by: <i>{{ lastQuery }}</i>
      </h2>
    </div>
    <client-only>
      <el-carousel :interval="4000" type="card" indicator-position="none" height="400px">
        <el-carousel-item v-for="item in movies" :key="item" class="p-3 rounded-xl">
          <div class="flex flex-col items-center h-full">
            <div class="flex w-full h-4/5 items-center justify-center">
              <NuxtImg :src="item.Poster" :placeholder="[50, 25]" class="w-full h-full object-cover rounded-xl" />
            </div>
            <h3>{{ item.Title }}</h3>
            <p class="text-zinc-600 font-semibold">
              <small>{{ item.Year }}</small>
            </p>
            <NuxtLink :to="`/movies/${item.imdbID}`" class="mt-auto font-bold uppercase">Details</NuxtLink>
          </div>
        </el-carousel-item>
      </el-carousel>
    </client-only>
  </div>
</template>

<script setup>
const store = useMoviesStore();
const lastQuery = computed(() => store.lastQuery);
const { data: movies, error } = await useAsyncData("movies", () => store.movies);
</script>

<style scoped>
.el-carousel__item:nth-child(2n) {
  background-color: #1e293b;
}

.el-carousel__item:nth-child(2n + 1) {
  background-color: #506991;
}
</style>
