<template>
  <div
    class="antialiased min-h-screen place-content-center flex flex-col items-center justify-center text-sm sm:text-base">
    <div class="flex-1 flex flex-col gap-y-16 py-14 w-full">
      <LayoutHeader />
      <div class="mx-auto max-w-screen-md w-full px-3 py-6">
        <slot />
      </div>
    </div>
    <LayoutFooter />
  </div>
</template>
