<template>
  <div>
    <div class="flex items-center">
      <el-input v-model="query" class="w-50 m-2" size="large" placeholder="Type movie Title">
        <template #prefix>
          <el-icon class="el-input__icon"><search /></el-icon>
        </template>
      </el-input>
      <el-button size="large" type="info" @click="submit">Search</el-button>
    </div>

    <p v-if="isLoading">Loading...</p>
    <p v-if="error" class="m-2">
      <el-alert :title="`Error: ${error.message}`" type="error" />
    </p>

    <p v-if="isHasMovies" class="m-2">See your <NuxtLink to="/movies">previous result</NuxtLink> or search again!</p>
  </div>
</template>

<script setup>
import { Search } from "@element-plus/icons-vue";

const store = useMoviesStore();
const query = ref("");
const { data: isHasMovies } = await useAsyncData("isHasMovies", () => store.movies?.length > 0);
const isLoading = ref(false);
const error = ref(null);

const fetchData = async () => {
  isLoading.value = true;
  error.value = null;

  try {
    await store.fetchMovies(query.value);
    await navigateTo("/movies");
  } catch (fetchError) {
    error.value = fetchError;
  } finally {
    isLoading.value = false;
  }
};

const submit = () => {
  if (query.value.trim() !== "") {
    store.lastQuery = query.value.trim();
    fetchData();
  } else {
    error.value = new Error("Please enter a valid query.");
  }
};
</script>
