<template>
  <div>
    <el-button text @click="dialogVisible = true"> click to add Movie </el-button>

    <client-only>
      <el-dialog v-model="dialogVisible" title="Add Movie" width="30%">
        <el-form
          ref="ruleFormRef"
          :model="ruleForm"
          status-icon
          :rules="rules"
          label-position="top"
          class="demo-ruleForm">
          <el-form-item label="Title" prop="title">
            <el-input v-model.number="ruleForm.title" />
          </el-form-item>
          <el-form-item label="Year" prop="year">
            <el-date-picker v-model="ruleForm.year" type="year" placeholder="Pick a year" />
          </el-form-item>
          <el-form-item label="Poster" prop="poster">
            <el-upload
              v-model:file-list="ruleForm.poster"
              class="upload-demo"
              :on-preview="handlePreview"
              :on-remove="handleRemove"
              :before-remove="beforeRemove"
              :limit="1"
              :on-exceed="handleExceed">
              <el-button type="primary">Click to upload</el-button>
              <template #tip>
                <div class="el-upload__tip">jpg/png files with a size less than 500KB.</div>
              </template>
            </el-upload>
          </el-form-item>
        </el-form>

        <template #footer>
          <span class="dialog-footer">
            <el-button @click="(dialogVisible = false), resetForm(ruleFormRef)">Cancel</el-button>
            <el-button type="primary" @click="submitForm(ruleFormRef)"> Add Movie </el-button>
          </span>
        </template>
      </el-dialog>
    </client-only>
  </div>
</template>

<script lang="ts" setup>
import { reactive, ref } from "vue";
import { ElMessageBox } from "element-plus";
import type { UploadProps, UploadUserFile } from "element-plus";
import type { FormInstance, FormRules } from "element-plus";

const dialogVisible = ref(false);
const ruleFormRef = ref<FormInstance>();

const ruleForm = reactive({
  title: "",
  year: "",
  poster: [],
});

const rules = reactive<FormRules<typeof ruleForm>>({
  title: [
    { required: true, message: "Please input Movie Title", trigger: "blur" },
    { min: 3, max: 100, message: "Length should be 3 to 100", trigger: "blur" },
  ],
  year: [
    {
      type: "date",
      required: true,
      message: "Please pick a year",
      trigger: "change",
    },
  ],
  poster: [
    {
      required: true,
      message: "Please add a poster",
    },
  ],
});

const handleRemove: UploadProps["onRemove"] = (file, uploadFiles) => {
  console.log(file, uploadFiles);
};

const handlePreview: UploadProps["onPreview"] = (uploadFile) => {
  console.log(uploadFile);
};

const handleExceed: UploadProps["onExceed"] = (files, uploadFiles) => {
  ElMessage.warning(
    `The limit is 3, you selected ${files.length} files this time, add up to ${
      files.length + uploadFiles.length
    } totally`
  );
};

const beforeRemove: UploadProps["beforeRemove"] = (uploadFile, uploadFiles) => {
  return ElMessageBox.confirm(`Cancel the transfer of ${uploadFile.name} ?`).then(
    () => true,
    () => false
  );
};

const submitForm = (formEl: FormInstance | undefined) => {
  if (!formEl) return;
  formEl.validate((valid) => {
    if (valid) {
      console.log("submit!");
    } else {
      console.log("error submit!");
      return false;
    }
  });
};

const resetForm = (formEl: FormInstance | undefined) => {
  if (!formEl) return;
  formEl.resetFields();
};
</script>

<style></style>
